@import '../../variables';
@import '../../helpers/mixins';

.#{$widget-prefix}-avatar-streaming {
  $avatar-streaming-bg: black !default;
  $avatar-streaming-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !default;

  &-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    background: $avatar-streaming-bg;
  }

  &-loader {
    position: absolute;
    // top: 0;
    // min-height: 100%;
    color: var(--dark-gray-text2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    // background: $avatar-streaming-bg;
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.5em;
  }

  &-video-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0;
  }

  &-connecting-status {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: var(--light-white);
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &-text {
      text-shadow: $avatar-streaming-text-shadow;
    }

    &-loader {
      font-size: 0.8em;
    }
  }

  &-error-message {
    text-shadow: $avatar-streaming-text-shadow;
    color: var(--light-white);
    position: absolute;
    bottom: 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 5px;
    text-align: center;
  }

  &-reconnect-button.rv-button {
    background-color: var(--light-gray1);
    border: 1px solid var(--light-white);
    color: var(--dark-gray3);
    opacity: 0.8;
    padding: 2px 10px;

    &:hover:not(:disabled) {
      color: var(--dark-gray3);
      opacity: 1;
    }
  }

  &-iframe {
    overflow: hidden;
    background: $avatar-streaming-bg;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
  }

  &-minimize-buttons {
    position: absolute;
    right: 1em;

    &--close {
      top: 1em;
    }

    &--expand {
      top: 4.5em;
    }
  }
}
