@import '../../variables';
@import '../../helpers/mixins';

.#{$widget-prefix}-maximizable-box {
  // Local aliases
  $maximizable-box-class: &;
  $maximizable-box-button-class: #{$maximizable-box-class}__button;

  position: relative;
  display: inline-block;

  // &__button::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background-color: var(--color-primary);
  //   opacity: 0.5;
  //   pointer-events: none;
  //   border-radius: 5px;
  // }

  &__button {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    // padding: 5px;
    z-index: 10;
    height: 28px;
    opacity: 1;
    z-index: 1001;
    background-color: var(--embedded-box-action-color);
    border-radius: 5px;

    &:hover {
      background-color: var(--embedded-box-action-color-hover);
    }
  }

  &:hover {
    #{$maximizable-box-button-class} {
      display: block;
    }
  }

  &--maximized {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 66px);
    height: calc(100% - 66px);
    background-color: var(--color-primary);
    z-index: 1000;
    overflow: auto;
    border: $main-container-border;
    border-radius: 38px;
    overflow: hidden;
    margin: 32px;

    > :first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    #{$maximizable-box-button-class} {
      top: 1.4em;
      right: 1.4em;
    }
  }
}

// Mobile Specific Styles

.#{$mobile-class} {
  $maximizable-box-class: #{$widget-prefix}-maximizable-box;

  .#{$maximizable-box-class} {
    &--maximized {
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 0;

      .#{$maximizable-box-class}__button {
        display: block;
      }
    }
  }
}
